# Python Virtualenvs
alias mkvenv3.8='virtualenv -p python3.8 venv.nosync && source ./venv.nosync/bin/activate && pip install pylint'
alias mkvenv3.9='virtualenv -p python3.9 venv.nosync && source ./venv.nosync/bin/activate && pip install pylint'
alias mkvenv='virtualenv venv.nosync && source ./venv.nosync/bin/activate && pip install pylint'
alias activenv='source ./venv.nosync/bin/activate'
