[init]
    defaultBranch = main
[user]
    name = Daniel Lombardi
    email = lombardi.daniel.o@gmail.com
	signingkey = /Users/daniellombardi/.ssh/id_rsa.pub
[core]
    editor = vim
[credential]
    username = LombardiDaniel
[pull]
	ff = only
	rebase = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gpg]
	format = ssh
